@use '../../common.scss';

#grid__settings {
    @extend .grid;
}

@media (orientation: landscape) {
    #grid__settings {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (orientation: portrait) {
    #grid__settings {
        width: 90%;
    }
}