<div id="div__settings" class="tabbed">
    <div id="grid__settings">
        <div style="grid-row: 1;">
            <label for="color-picker"><h4>Base color</h4></label>
            <input name="color-picker" [cpOutputFormat]="'rgba'"
                   [(colorPicker)]="color" (colorPickerClose)="commitColor()"
                   [style.background]="color"/>
        </div>
        <div style="grid-row: 2;">
            <label for="font-size"><h4>Base font size (px)</h4></label>
            <mat-slider name="font-size" min="5" max="100" step="1" discrete>
                <input [(ngModel)]="fontSize"
                (ngModelChange)="commitFontSize()" matSliderThumb>
            </mat-slider>
        </div>
    </div>
</div>