@use '../../common.scss';

textarea {
    width: common.$w-landscape;
    height: 100vh - 20vh;
    font-size: 20px;
    font-family: 'Inconsolata', monospace;
    background-color: common.$base-color;
    color: white;
}

@media (orientation: portrait) {
    textarea {
        width: common.$w-portrait;
    }
}