<div id="div__word-cloud" class="tabbed">
    <span *ngFor="let item of items; index as i; last as isLast"
        [ngStyle]="{ 'font-size.px':
        (settings?.fontSize || 15) - limit() + limit(item[1]),
        'color': rgbize(item[1]) }"
        >{{ item[0] + (!isLast ? ' ' : '') }}</span>
</div>