<mat-toolbar>
    <span class="fill-remaining-space"></span>
    <h1 id="title">thevenet</h1>
    <span class="fill-remaining-space"></span>
</mat-toolbar>
<mat-tab-group fitInkBarToContent color="warn">
    <mat-tab>
        <ng-template mat-tab-label><mat-icon>cloud</mat-icon></ng-template>
        <app-word-cloud></app-word-cloud>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label><mat-icon>edit</mat-icon></ng-template>
        <app-editor></app-editor>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label><mat-icon>settings</mat-icon></ng-template>
        <app-settings></app-settings>
    </mat-tab>
</mat-tab-group>
