@use './common.scss';

.mat-toolbar {
    background-color: common.$base-color;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

#title {
    color: white;
    font-family: 'Pacifico';
    padding-top: 10px;
}

mat-icon {
    color: common.$base-color;
}