$base-color: rgba(16, 25, 30, 255);
$w_landscape: 100vw - 1.5vw;
$w_portrait: 100vw - 7vw;

@font-face {
    font-family: 'Pacifico';
    src: url('../assets/fonts/Pacifico-Regular.ttf');
}

@font-face {
    font-family: 'Inconsolata';
    src: url('../assets/fonts/Inconsolata-Regular.ttf');
}

.tabbed {
    height: 100vh - 15vh;
    padding-left: 10px;
}

.grid {
    display: grid;
}