/* You can add global styles to this file, and also import other style files */

@import '~material-design-icons/iconfont/material-icons.css';

html, body { height: 100%; }
body { 
    margin: 0;
    font-family: sans-serif;
    background-color: white;
}
